<!DOCTYPE html>
<html>
<head>
  <title>SmartEnergy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :highcharts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Smart Energy</a>
          <ul class="nav">
            <li class="<%= 'active' if current_page?(household_path((current_user.household))) %>">
              <%= link_to "Dashboard", household_path(current_user.household) %>
            </li>
            <li class="<%= 'active' if current_page?(power_usage_household_path((current_user.household))) %>">
              <%= link_to "Power", power_usage_household_path(current_user.household) %>
            </li>
            <li class="<%= 'active' if current_page?(gas_usage_household_path(current_user.household)) %>">
              <%= link_to "Gas", gas_usage_household_path(current_user.household) %>
            </li>
            <li>
              <a href="#">C02</a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li class="pull-right">
              <%= link_to('Logout', destroy_user_session_path, 
                                    :method => :delete) %>        
              </li>
            <% else %>
              <li>
              <%= link_to('Login', new_user_session_path)  %>  
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38600363-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
