<div class="row">
  <div class="span6">
    <%= form_tag @type=="gas" ? gas_usage_household_path : power_usage_household_path, method: :get do %>
      From
      <%= text_field "search", "date_from", 
                              value: @start_time.to_date, 
                              class: "day_picker input-small start_date" %>
      To
      <%= text_field "search", "date_to", 
                              value: @end_time.to_date, 
                              class: "day_picker input-small end_date" %>
      <%= submit_tag "GO" %>
    <% end %>
  </div>
  <div class="span6">
    <%= form_tag @type=="gas" ? gas_usage_household_path : power_usage_household_path, method: :get, remote: true do %>
      From
      <%= text_field "search", "date_from", 
                              value: @start_time.to_date, 
                              class: "day_picker input-small start_date" %>
      To
      <%= text_field "search", "date_to", 
                              value: @end_time.to_date, 
                              class: "day_picker input-small end_date" %>
      <%= submit_tag "Add" %>
    <% end %>
  </div>

  <div class="span12">
    <div id="chart_container">
    </div>
    <%= select  "chart", 
                "type", 
                CHART_TYPES, 
                selected: current_user.chart_type %>
  </div>
</div>
<%= render partial: "show_js.html.erb" %>
