<div class="span12">
  <div class="row">
    <div id="chart_container" class="span10" style="height: 500px;">
    </div>
    <div class="span2">
      Totals for the period:
      <b>2011</b> <br/>
      Cost: <br/> <b>212.66</b> pounds <br/>
      Usage: <br/> <b>17721.5</b> mWh <br/>
      <!-- Carbon intensity: <br/> <b>4.05</b> grams/kWh <br/> -->
      CO2 generated: <br/> <b>7327.06</b> tons CO2 <br/>
    </div>
  </div>
  <div id="chart_controls" class="row">
    <div class="period-shown">
      <%= hidden_field_tag "type", @type %>
      <%= hidden_field_tag "date", @date %>
      <%= hidden_field_tag "unit", @unit %>
    </div>
    <div class="span4">
      <%= select  "chart", 
                  "type", 
                  CHART_TYPES, 
                  selected: current_user.try(:chart_type) || "column" %>
    </div>
    <div class="span4">
      <span class="pull-left">
        Toggle: 
      </span>
      <%= check_box_tag "carbon_intensity_toggler", "carbon_intensity", false, class: "pull-left chart-toggler", color: 5, axis_n: 2, series_type: "line" %>
      <%= label_tag "carbon_intensity_toggler", "CO2 intensity", class: "pull-left" %>
      
      <%= check_box_tag "carbon_toggler", "carbon_result", false, class: "pull-left chart-toggler", color: 6, axis_n: 1, series_type: "spline" %>
      <%= label_tag "carbon_toggler", "CO2 emissions", class: "pull-left" %>
    </div>
    <div class="span2">
      <%= check_box_tag "usage_toggler", "amount", false, class: "pull-left chart-toggler", color: 6, axis_n: 1, series_type: "spline" %>
      <%= label_tag "usage_toggler", "Energy usage", class: "pull-left" %>      
    </div>
    <div class="span2">
      <%= check_box_tag "price_toggler", "price", false, class: "pull-left chart-toggler", color: 5, axis_n: 2, series_type: "line" %>
      <%= label_tag "price_toggler", "Energy price", class: "pull-left" %>
      
    </div>
  </div>

</div>
<%= render partial: "show_js_drill.html.erb" %>
