<div class="span12">
  <div class="row">
    <div id="chart_container" class="span12" style="height: 500px;">
    </div>
  </div>
  <div id="chart_controls" class="row">
    <div class="period-shown">
      <%= hidden_field_tag "type", @type %>
      <%= hidden_field_tag "date", @date %>
      <%= hidden_field_tag "unit", @unit %>
    </div>
    <div class="span4">
      <%= select  "chart", 
                  "type", 
                  CHART_TYPES, 
                  selected: current_user.try(:chart_type) || "column" %>
    </div>
    <div class="span4">
      <span class="pull-left">
        Toggle: 
      </span>
      <%= check_box_tag "carbon_intensity_toggler", "carbon_intensity", false, class: "pull-left chart-toggler", color: 5, axis_n: 2, series_type: "line" %>
      <%= label_tag "carbon_intensity_toggler", "CO2 intensity", class: "pull-left" %>
      
      <%= check_box_tag "carbon_toggler", "carbon_result", false, class: "pull-left chart-toggler", color: 6, axis_n: 1, series_type: "spline" %>
      <%= label_tag "carbon_toggler", "CO2 emissions", class: "pull-left" %>

<!--       <%= check_box_tag "cost_toggler", "cost", false, class: "pull-left chart-toggler" %>
      <%= label_tag "cost_toggler", "Cost", class: "pull-left" %>
 -->    </div>
  </div>

</div>
<%= render partial: "show_js_drill.html.erb" %>
