
<div class="row">
  <div id="my_id" class="span9">
    <%= high_chart("my_id", @h) %>
  </div>
  <div class="span2">
    <%= form_tag household_path, method: :get do %>
      From
      <%= text_field "search", "date_from", 
                              value: params[:search][:date_from], 
                              class: "day_picker" %>
      To
      <%= text_field "search", "date_to", 
                              value: params[:search][:date_to], 
                              class: "day_picker" %>
      <%= submit_tag "GO" %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= link_to 'Edit', edit_household_path(@household) %> |
  <%= link_to 'Back', households_path %>
</div>

<%= render partial: 'show_js.html.erb' %>
<button id="button">Change type</button>
<%= javascript_tag do %>
  function changeType(series, newType) {
    var dataArray = [],
        points = series.data;
    
    console.log(series.options.data);
    series.chart.addSeries({
        type: newType,
        name: series.name,
        color: series.color,
        data: series.options.data
    }, false);
    
    series.remove();
  }
  $('#button').click(function() {
    for(i = 0, l = chart.series.length; i < l; ++i) {
      var series = window.chart.series[0],
          newType = series.type == 'line' ? 'column' : 'line';
      changeType(series, newType);
      }
  })
  $('#chartType').change(function(){
      chart.changeSeriesType(this.value);
  });
<% end %>